@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');
:root{
    --P-orange: hsl(25, 97%, 53%);
    --N-white: hsl(0, 0%, 100%);
    --N-light-grey: hsl(217, 12%, 63%);
    --N-medium-grey: hsl(216, 12%, 54%);
    --N-dark-blue: hsl(213, 19%, 18%);
    --N-very-dark-blue: hsl(216, 12%, 8%);
}


*{
    /* box-sizing: border-box; */
    font-family: 'Overpass', sans-serif;
}
html, body{
    height: 100%;
    width: 100%;
    margin: 0;
}
body{
    position: relative;
    background-color: #141519;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
}


.link{
    color: var(--P-orange);
}

.card, .cardTwo{
    margin-top: 15em;
    padding: 1.75em;
    border-radius: 25px;
    background-color: #1b222c;
    max-width: 325px;
}
.star-wrapper{
    display: flex;
    border-radius: 100%;
    background-color: #262f38;
    margin: 0;
    width: 45px;
    height: 45px;
    align-items: center;
    justify-content: center;
    padding: 0 0 1px 1px;
}
h1.card-header{
    color: var(--N-white);
    font-weight: 700;
    font-size: 28px;
    margin: 1.25em 0 .5em 0;
}
p.feedback{
    color: #999faa;
    font-size: 15px;
    line-height: 150%;
}
.rating-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1.5em 0 2em 0;
}
.rating{
    color: #818897;
    background-color: #262f38;
    border: none;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    padding: 1.1em 1em 1em 1em;
    font-weight: 700;
}
.submit{
    background-color: var(--P-orange);
    color: #e3e1d9;
    width: 100%;
    height: auto;
    align-content: center;
    padding: 14px 0 9px 0;
    border: none;
    border-radius: 30px;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
}
.rating:hover{
    background-color: var(--N-light-grey);
    color: var(--N-white);
    cursor: pointer;
}
.rating:active, .selected{
    color: var(--N-white);
    background-color: var(--P-orange);
}
.submit:active{
    cursor: pointer;
    color: var(--P-orange);
    background-color: var(--N-white);
}

footer.attribution{
    height: auto;
    margin: 10em 2em 3em 2em;
    padding: 2em;
    text-align: center;
    color: white;
}






@media (max-width: 768px){

    main{
        padding: 0 16px 0 16px;
    }
    .card, .cardTwo{
        margin-top: 15em;
        padding: 1.5em;
        border-radius: 15px;
        background-color: #1b222c;
        max-width: 290px;
    }
    .star-wrapper{
        display: flex;
        border-radius: 100%;
        background-color: #262f38;
        margin: 0;
        width: 45px;
        height: 45px;
        align-items: center;
        justify-content: center;
    }
    h1.card-header{
        color: var(--N-white);
        font-weight: 700;
        margin: 1em 0 .5em 0;
    }
    p.feedback{
        color: #999faa;
        font-size: 14px;
        line-height: 150%;
    }
    .rating-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 1.5em 0 1em 0;
    }
    .rating{
        color: #818897;
        background-color: #262f38;
        border: none;
        border-radius: 100%;
        width: 45px;
        height: 45px;
        padding: 1.1em 1em 1em 1em;
        font-weight: 700;
    }
    .submit{
        background-color: var(--P-orange);
        color: #e3e1d9;
        width: 100%;
        height: auto;
        align-content: center;
        padding: 14px 0 9px 0;
        border: none;
        border-radius: 30px;
        font-size: 15px;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin: 0.5em 0 0.5em 0em;
    }

    footer.attribution{
        height: auto;
        margin: 10em 2em 3em 2em;
        padding: 2em;
        text-align: center;
        color: white;
    }
    .rating:hover{
        background-color: var(--N-light-grey);
        color: var(--N-white);
        cursor: pointer;
    }
    .rating:active, .selected{
        color: var(--N-white);
        background-color: var(--P-orange);
    }
    .submit:active{
        cursor: pointer;
        color: var(--P-orange);
        background-color: var(--N-white);
    }
    
}


.cardTwo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.thank-img{
    margin-top: 1.5em;
}
.selected-container{
    margin-top: 2.5em;
    background-color: #262f38;
    padding: 0.6em 1.25em 0.4em 1.25em;
    width: auto;
    border-radius: 20px;
    color: var(--P-orange);
    font-size: 15px;
}
.thank-you{
    color: var(--N-white);
    font-weight: 400;
    margin-bottom: 0;
}
.appreciation{
    color: var(--N-light-grey);
    text-align: center;
    font-size: 15px;
}

.hide{
    display: none;
}

.temp{
    display: none;
}